/* yantramanav-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Yantramanav";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/yantramanav-v13-latin-regular.woff2") format("woff2");
}
/* yantramanav-700 - latin */
@font-face {
    font-display: swap;
    font-family: "Yantramanav";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/yantramanav-v13-latin-700.woff2") format("woff2");
}
/* yantramanav-900 - latin */
@font-face {
    font-display: swap;
    font-family: "Yantramanav";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/yantramanav-v13-latin-900.woff2") format("woff2");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Yantramanav", sans-serif;
}

body {
    min-width: 100vw;
    background: #e9ecf7;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

header {
    background: #dde0ea;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

section {
    padding-top: 200px;
    background: url(img/bg.jpg);
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 18px;
}

h2 {
    font-size: 40px;
}

nav {
    width: 80%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

nav div h2,nav div h2 a{
    color: rgba(6, 221, 96, 0.863);
    font-weight: 900;
    -webkit-text-stroke: 1px black;
}

.navbar-links {
    width: 450px;
}

.navbar-links ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.navbar-links li {
    list-style-type: none;
    font-size: 20px;
    transition: transform 0.2s;
}

.navbar-links li:hover {
    transform: scale(1.5);
}

.navbar-links li a:hover {
    scale: 1.2;
}

button {
    border: none;
    background: yellow;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.container {
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.container:nth-child(2) {
    justify-content: space-between;
    flex-wrap: wrap;
}

.welcomebox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    flex-wrap: wrap;
}

.welcome {
    width: 550px;
}

.welcome h1 {
    font-size: 50px;
    margin: 10px;
}

.welcome p {
    padding-right: 40px;
    margin: 10px 30px 10px 10px;
}

.welcome button {
    margin: 10px;
    width: 150px;
}

.welcome button a {
    color: black;
}

.appointment-box {
    width: 400px;
    padding: 20px;
    background: rgba(57, 185, 19, 0.315);
    border-radius: 5px;
}

.appointment-box h2 {
    padding: 10px 0px;
}

.appointment-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.appointment-details input {
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.container:nth-child(3) {
    flex-direction: column;
    align-items: self-start;
}

.content-welcome {
    margin-top: 50px;
    padding: 10px;
}

.content-welcome h2 {
    font-size: 40px;
}

.service-content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    width: 100%;
    justify-content: space-evenly;
}

.serivce-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 350px;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    background: #cfd6e9;
    transition: box-shadow 0.2s;
}

.serivce-content-box h3 {
    margin: 10px 0 20px 0;
}
.serivce-content-box p {
    text-align: center;
    margin: 0 0 40px 0;
}

.service-img {
    height: 80px;
    width: 80px;
}

.service-img img {
    height: 80px;
    width: 80px;
    background: sandybrown;
    padding: 10px;
    border-radius: 20px;
}

.container:nth-child(4) {
    flex-direction: column;
    align-items: self-start;
}

.doctors {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    width: 100%;
    justify-content: space-evenly;
}

.doctor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #cfd6e9;
    transition: box-shadow 0.2s;
}

.doctor-card:hover,
.serivce-content-box:hover {
    -webkit-box-shadow: 3px -2px 20px 3px rgba(59, 85, 155, 1);
    -moz-box-shadow: 3px -2px 20px 3px rgba(59, 85, 155, 1);
    box-shadow: 3px -2px 20px 3px rgba(59, 85, 155, 1);
}

.doctor-card div img {
    height: 300px;
    width: 200px;
}

.container:nth-child(5) {
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 100px;
}

.aboutus {
    width: 400px;
    margin: 10px;
}

.aboutus-video {
    border-radius: 10px;
}

video {
    height: 400px;
    width: 400px;
    border-radius: 30px;
    backface-visibility: hidden;
}

.container:nth-child(6) {
    padding-top: 150px;
    margin-bottom: 100px;
    align-items: top;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.chooseus {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
    width: 400px;
}

.ch-image {
    width: 400px;
    height: 400px;
}

.chooseus-content {
    display: flex;
    margin-top: 20px;
}

.chooseus-content button {
    width: 80px;
    height: 80px;
}

.chooseus-content button img {
    width: 80px;
    height: 80px;
    padding: 5px;
}

.chooseus-title {
    padding: 0 0 0 20px;
    width: 350px;
}

footer {
    width: 100%;
    height: 300px;
    background: #dde0ea;
    padding-top: 50px;
}

footer a:hover {
    color: blue;
}

footer h2 {
    font-size: 30px;
}

.end {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.work {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.work a {
    color: grey;
}

.contactus {
    height: 100px;
}

.contactus h2 {
    margin-bottom: 10px;
}

.contactus p,
.contactus a {
    color: grey;
    font-size: 15px;
}

address {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    font-style: normal;
}

@media only screen and (max-width: 840px) {
    section {
        padding-top: 90px;
    }

    nav {
        width: 90%;
        justify-content: space-evenly;
    }

    nav div h2 {
        font-size: 40px;
    }

    .navbar-links ul li a {
        font-size: 20px;
    }

    address {
        align-items: flex-end;
    }
    .contactus h2,
    .contactus p {
        text-align: right;
    }
}

@media only screen and (max-width: 425px) {
    body {
        width: 120vw;
    }

    nav {
        width: 80%;
        justify-content: space-between;
    }

    

    .navbar-links {
        display: none;
    }

    section {
        padding-top: 80px;
        background: url(img/bg.jpg);
        height: 100vh;
        width: 130vw;
    }

    .container:nth-child(5) {
        padding-left: 40px;
    }

    .container:nth-child(6) {
        align-items: center;
    }

    .chooseus {
        padding-left: 0;
        align-items: center;
    }

    .ch-image {
        width: auto;
        padding-left: 50px;
    }

    footer {
        width: 130vw;
    }

    nav div button {
        width: 100px;
        height: 50px;
        font-size: 20px;
    }
}
